# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcarchive

# Build artifacts
build/
DerivedData/

# Local SourceKit-LSP / BSP
buildServer.json
sourcekit_lsp_readme.md

# CocoaPods
Pods/
Podfile.lock

# SwiftPM
.build/
.swiftpm/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Xcode user state
*.xcuserstate
*.xcuserdatad
xcuserdata/
